.calendar-container {
    width: 100%;
    text-align: center;
}

.calendar-container .calendar {
    padding: 10px;
}

.calendar-container .calendar .rdp-months {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.calendar-container .calendar .rdp-months .rdp-month {
    margin: 0;
}
