header {
    height: 80px;
    width: 100%;
    background-color: rgba(18, 21, 24, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.mobile header {
    height: 70px;
}

header .logo-container {
    padding: 0 15px;
    display: flex;
    flex-grow: 1;
}

header .logo-container img {
    height: 70px;
    width: auto;
}

header .info-modal-icon {
    display: flex;
}

header .info-modal-icon svg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

header .info-modal-icon svg:hover g {
    fill: #b2ebf9;
}
