header {
    height: 80px;
    width: 100%;
    background-color: rgba(18, 21, 24, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 70px;
    width: auto;
}
