.language-menu-container {
    width: 50px;
    text-align: center;
    margin: 0 15px;
}

.language-menu-container .language-menu-placeholder p {
    color: #ffffff;
    cursor: pointer;
}

.language-menu-container .language-menu-list {
    position: absolute;
    top: 80px;
    right: 0;
    width: 80px;
    background-color: rgba(18, 21, 24, 0.6);
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
    z-index: 1;
    overflow: auto;
}


.language-menu-container.closed .language-menu-list {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 0.25s;
}

.language-menu-container.opened .language-menu-list {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.25s;
}

.language-menu-container .language-menu-list .language-menu-list-item {
    padding: 15px 0;
    color: #ffffff;
    cursor: pointer;
}

.language-menu-container.opened .language-menu-placeholder p,
.language-menu-container .language-menu-placeholder p:hover,
.language-menu-container .language-menu-list .language-menu-list-item:hover {
    color: #b2ebf9;
}
