.workload-container {
    max-width: 500px;
    border-radius: 4px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin: 50px auto;
}

.workload-container .workload-container-header {
    height: 60px;
    background-color: #f3f3f3;
    border-bottom: 3px solid #aea1ea;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workload-container .workload-container-header h2 {
    font-size: 20px;
    font-weight: 500;
}

.workload-container .workload-container-body {
    text-align: center;
    margin: 20px;
}

.workload-container .workload-container-body p {
    font-weight: normal;
}

.workload-container .workload-container-body hr {
    height: 1px;
    border: none;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.12);
}

.workload-container .workload-container-body .data-container {
    padding: 10px 0;
}

.workload-container .workload-container-body .data-container span.white-space-after:after {
    content: " ";
}

.workload-container .workload-container-body .data-container span.invalid {
    color: #ff7076;
}

.workload-container button {
    background-color: #64b9f1;
    background-image: linear-gradient(to bottom, #4ca7e4, #328ecc);
    border: 1px solid #337cac;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    max-width: 300px;
    width: 100%;
    margin-top: 20px;
    outline: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    transition: all 100ms ease-in;
}

@media (max-width: 500px) {
    .workload-container {
        margin: 10px;
    }
}
